# Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import missingno as msno
import pickle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn import metrics

#we use the corrected dataframe (i.e. in the find error jupyter notebook)
df = pickle.load(open('df_handled','rb'))
df.head()

,id,car_name,brand,model,min_cost_price,max_cost_price,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,5.603399e+05,8.634365e+05,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,7.110000e+05,7.480000e+05,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,4.816513e+05,7.596647e+05,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,4.022373e+05,6.608389e+05,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,1.014000e+06,1.379000e+06,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [2]:
print(df.shape)
# df.hist(bins=50, figsize=(20,15))

(19544, 16)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19544 entries, 0 to 19543
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 19544 non-null  int64
 1   car_name           19544 non-null  object
 2   brand              19544 non-null  object
 3   model              19544 non-null  object
 4   min_cost_price     19544 non-null  float64
 5   max_cost_price     19544 non-null  float64
 6   vehicle_age        19544 non-null  int64
 7   km_driven          19544 non-null  int64
 8   seller_type        19544 non-null  object
 9   fuel_type          19544 non-null  object
 10  transmission_type  19544 non-null  object
 11  mileage            19544 non-null  float64
 12  engine             19544 non-null  int64
 13  max_power          19544 non-null  float64
 14  seats              19544 non-null  int64
 15  selling_price      19544 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 2.5+ MB

# Dropping the columns that won't contribute much to the prediction

To have the inputs from the dataset, we are dropping columns that won't be inputs from user.(e.g. selling_price is not input but output).
We also drop the features that do not significantly contribute to the price prediction.

In [4]:
inputs = df.drop(['selling_price','id','car_name','brand','model','seats'],axis='columns')
target = df['selling_price']
inputs.head()

,min_cost_price,max_cost_price,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power
0,5.603399e+05,8.634365e+05,9,120000,Individual,Petrol,Manual,19.70,796,46.30
1,7.110000e+05,7.480000e+05,5,20000,Individual,Petrol,Manual,18.90,1197,82.00
2,4.816513e+05,7.596647e+05,11,60000,Individual,Petrol,Manual,17.00,1197,80.00
3,4.022373e+05,6.608389e+05,9,37000,Individual,Petrol,Manual,20.92,998,67.10
4,1.014000e+06,1.379000e+06,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59

# Handling non-numeric data

One hot encoding method is used to handle non numeric data

In [5]:
def dummies(x,df):
    temp = pd.get_dummies(df[x], drop_first = True)
    df = pd.concat([df, temp], axis = 1)
    df.drop([x], axis = 1, inplace = True)
    return df

inputs=dummies('fuel_type',inputs)
inputs=dummies('transmission_type',inputs)
inputs=dummies('seller_type',inputs)
inputs.head(10)

,min_cost_price,max_cost_price,vehicle_age,km_driven,mileage,engine,max_power,Diesel,Electric,LPG,Petrol,Manual,Individual,Trustmark Dealer
0,5.603399e+05,8.634365e+05,9,120000,19.70,796,46.30,0,0,0,1,1,1,0
1,7.110000e+05,7.480000e+05,5,20000,18.90,1197,82.00,0,0,0,1,1,1,0
2,4.816513e+05,7.596647e+05,11,60000,17.00,1197,80.00,0,0,0,1,1,1,0
3,4.022373e+05,6.608389e+05,9,37000,20.92,998,67.10,0,0,0,1,1,1,0
4,1.014000e+06,1.379000e+06,6,30000,22.77,1498,98.59,1,0,0,0,1,0,0
5,5.160000e+05,6.940000e+05,8,35000,18.90,998,67.10,0,0,0,1,1,1,0
6,6.540000e+05,6.630000e+05,8,40000,20.36,1197,78.90,0,0,0,1,1,0,0
7,5.260000e+05,7.010000e+05,3,17512,20.51,998,67.04,0,0,0,1,1,0,0
8,7.700000e+05,1.302000e+06,2,20000,18.15,998,118.35,0,0,0,1,0,1,0
9,1.206540e+06,1.627510e+06,4,70000,18.49,1493,100.00,1,0,0,0,1,0,0

In [6]:
# inputs.isnull().sum()

# Training the model

In [7]:
x_train,x_test,y_train,y_test = train_test_split(inputs,target,random_state=42,test_size=0.2)

In [8]:
model = RandomForestRegressor(max_features='sqrt',bootstrap='True')
model.fit(x_train,y_train)

model2 = LinearRegression()
model2.fit(x_train,y_train)

LinearRegression()

# Testing the model

Here we are able to see that random forest regressor is giving much better accuracy than linear regression

In [9]:
print(model.score(x_test,y_test))
print(model2.score(x_test,y_test))

0.9407266721666135
0.7656541091535729

In [10]:
# Inputs from user
vehicle_age=5
km_driven=20000
fuel_type='petrol'
transmission_type='manual'
seller_type='Individual'
mileage=18.9
engine=1197
max_power=82
# seats=5

fuel_list={'petrol':0,'diesel':0,'electric':0,'lpg':0,'cng':0}
if fuel_type in fuel_list:
    fuel_list[fuel_type]=1
        
transmission_list={'manual':0,'automatic':0}
if transmission_type in transmission_list:
    transmission_list[transmission_type]=1
    
seller_list={'Individual':0,'Trustmark Dealer':0,'Dealer':0}
if seller_type in seller_list:
    seller_list[seller_type]=1

mins = 711000
maxs = 748000

In [11]:
model_list = pickle.load(open('model_list','rb'))
model_min_dict = pickle.load(open('model_min_dict','rb'))
model_max_dict = pickle.load(open('model_max_dict','rb'))

In [12]:
predictions=model.predict([[mins,maxs,vehicle_age,km_driven,mileage,engine,max_power,fuel_list['diesel'],fuel_list['electric'],fuel_list['lpg'],fuel_list['petrol'],transmission_list['manual'],seller_list['Individual'],seller_list['Trustmark Dealer']]])
predictions

array([529860.83333333])

In [13]:
pred1 = model.predict([[model_min_dict['i20'],model_max_dict['i20'],11,60000,17,1197,80,0,0,0,1,1,1,0]])
pred1

array([317016.66666667])

In [14]:
pred2 = model.predict([[model_min_dict['Alto'],model_max_dict['Alto'],9,37000,20.92,998,67.10,0,0,0,1,1,1,0]])
pred2

array([229280.])

# Dump the model

In [15]:
pickle.dump(model,open('save_model1','wb'))


# Load the model

In [16]:
model1 = pickle.load(open('save_model1','rb'))
min_dict1 = pickle.load(open('model_min_dict','rb'))
max_dict1 = pickle.load(open('model_max_dict','rb'))
for i in min_dict1:
    print(i, "\t\t" ,round(min_dict1[i],2))

Alto 		 435075.16
Grand 		 766563.68
i20 		 907119.21
Ecosport 		 1040523.66
Wagon R 		 561001.14
i10 		 606068.67
Venue 		 986468.77
TUV 		 1412335.19
Indigo 		 641383.79
Captur 		 1922018.89
Swift 		 863898.71
Micra 		 811643.04
Verna 		 1196644.8
Duster 		 1213702.96
Cooper 		 4086603.28
Ciaz 		 1219199.57
C-Class 		 4974954.76
Innova 		 2017883.18
Baleno 		 876603.9
Swift Dzire 		 967040.46
Grande 		 719570.07
Vento 		 1107026.86
Creta 		 1317830.38
Xylo 		 1045217.24
City 		 1318524.24
Bolero 		 1024328.53
Fortuner 		 3900155.38
KWID 		 414003.62
Amaze 		 814449.62
Santro 		 499768.74
XUV500 		 1693438.5
Sail 		 682695.49
Xcent 		 962636.4
800 		 311397.45
Avigo 		 586037.13
Nano 		 213697.62
KUV100 		 895638.63
Etios 		 956908.81
Ignis 		 656405.57
Corolla 		 1558181.39
RediGO 		 363092.72
Vista 		 785881.8
Omni 		 433351.22
Scorpio 		 1524078.53
Marazzo 		 1405101.29
Aspire 		 894040.05
Figo 		 809264.68
Supro 		 879336.88
Vitara 		 1592439.28
Tiago 		 666130.73
Polo 		 878013.96
Seltos 		 1778567.35
Beat 		 490115.33
Celerio 		 586095.62
Terrano 		 1243458.27
Santa 		 2395137.49
GO 		 499797.14
5 		 7141390.7
CR-V 		 3196932.29
Endeavour 		 3927246.74
KUV 		 786048.22
Aveo 		 429889.63
Jazz 		 980838.46
Pajero 		 2211315.4
Indica 		 463296.28
3 		 4947974.83
Ritz 		 748439.77
S-Cross 		 1666438.83
Sumo 		 937396.88
Accord 		 981330.35
Q5 		 4255563.44
A4 		 3266325.4
Tigor 		 823889.37
Manza 		 641172.5
Brio 		 681032.19
SX4 		 1074628.71
Q3 		 3917495.1
Ertiga 		 1255102.67
Safari 		 1473168.18
Sunny 		 833883.01
GLA 		 4547672.62
Thar 		 1474934.7
Hexa 		 1509365.08
Zen 		 354255.54
Laura 		 994074.88
Avventura 		 1055178.89
Rover 		 8818542.34
BRV 		 1686591.17
Eeco 		 531915.33
A6 		 4005882.23
E-Class 		 7119506.98
Quanto 		 741132.37
Q7 		 7540766.42
NuvoSport 		 1326256.94
Z4 		 7829333.33
Koleos 		 1754737.67
A3 		 3928639.55
6 		 8004316.41
Land Cruiser 		 13426915.24
Scala 		 874175.01
XF 		 4687076.54
X5 		 8743726.49
Zest 		 911346.55
CLA 		 4431761.2
Matiz 		 309001.77
Mulsanne 		 44327871.62
Hector 		 1924029.0
EON 		 509918.83
Ameo 		 1074117.8
Spark 		 279168.08
GLE 		 8458496.24
Civic 		 1954904.86
Kizashi 		 897405.55
D-Max 		 1936000.0
Cayenne 		 9797011.09
Fabia 		 656850.59
X1 		 4716727.56
Rapid 		 1114312.21
Freestyle 		 824921.84
Bolt 		 851685.48
Superb 		 2940443.95
Captiva 		 1156133.16
1 		 2465578.04
Platinum 		 1245646.21
Nexon 		 978675.86
XUV300 		 1073279.72
A 		 670432.79
Dzire VXI 		 674352.94
S90 		 6966750.0
S60 		 2809806.9
WR-V 		 1122848.79
XL6 		 1133285.71
Xenon 		 1244291.7
Linea 		 644508.12
Pulse 		 717608.5
A5 		 7958097.51
Triber 		 608833.33
CrossPolo 		 947446.74
Ikon 		 352313.11
Accent 		 531318.48
ES 		 6766934.37
Wrangler 		 7451500.0
Camry 		 4026658.34
Mobilio 		 1184054.47
Elantra 		 2119571.07
Yaris 		 1113408.79
Lodgy 		 1395639.97
GL-Class 		 7159439.95
Rio 		 517322.04
Classic 		 851365.18
Punto 		 684869.06
7 		 15692454.58
S-Presso 		 464936.29
Yeti 		 1373138.58
Dzire LXI 		 665000.0
Mustang 		 12173806.84
Aura 		 676000.0
XC 		 9236280.92
Ghibli 		 16400000.0
Cruze 		 1070548.24
Abarth 		 1224179.28
Continental 		 37700000.0
CR 		 3230000.0
Jetta 		 1285744.69
Fiesta 		 713223.03
Kicks 		 1647823.22
S-Class 		 16033695.83
Sonata 		 1609058.17
One 		 1085993.5
Tucson 		 2946815.54
Harrier 		 1865957.65
X3 		 7295217.79
Versa 		 401293.42
Octavia 		 2989430.09
Ssangyong 		 1986449.31
Enjoy 		 901307.33
Verito 		 850208.01
Getz 		 442418.82
Compass 		 2302095.71
CLS 		 8193512.81
XJ 		 9436662.78
redi-GO 		 356760.54
BR-V 		 1633842.35
B-Class 		 3550588.58
Tavera 		 1259339.45
Outlander 		 1342491.91
Beetle 		 4019883.37
M-Class 		 4904398.23
Fluence 		 1146162.98
Glanza 		 828125.0
Macan 		 8153000.0
X4 		 8030871.09
SLK 		 4121519.07
Passat 		 2134864.87
Trailblazer 		 3134409.08
Dzire ZXI 		 685250.0
Logan 		 313122.66
B 		 2745073.56
Venture 		 497398.77
XC90 		 9850420.14
Gallardo 		 28206070.71
F-PACE 		 9139105.27
Optra 		 620709.4
Kodiaq 		 6902312.8
A-Class 		 2399777.83
A8 		 8722391.2
M 		 12310404.21
Clubman 		 6062798.7
MUX 		 3260000.0
Tiguan 		 4978536.56
prado 		 8663664.0
Renault 		 473884.78
X6 		 8178805.49
Palio 		 414923.37
GTC4Lusso 		 50100000.0
GLS 		 12543001.11
Gypsy 		 540801.66
Lancer 		 412527.59
V40 		 3748960.98
S4 		 5019885.71
Aria 		 999264.97
X-Trail 		 2276000.0
Esteem 		 267753.71
XE 		 6067370.7
Evalia 		 1020191.37
1.4Gsi 		 436724.85
XC60 		 5677758.57
Panamera 		 12971055.35
GTI 		 3708932.7
TT 		 4075701.63
MU 		 2621904.28
F-TYPE 		 14041902.17
Montero 		 2612348.73
Sonet 		 1752568.73
F-Pace 		 8664236.18
Alturas 		 3315000.0
Boxster 		 11555460.52
Cedia 		 716498.67
S 		 1713863.6
CLS-Class 		 1924909.96
Altroz 		 635000.0
NX 		 7075500.0
Carnival 		 3003000.0
Prius 		 2528950.16
C 		 4762000.0
CL-Class 		 1259300.93
Avanti 		 2120751.0
RX 		 12400000.0
S5 		 8644102.78
Ghost 		 79600000.0
Quattroporte 		 20200000.0
SLC 		 12986589.45
R8 		 7891049.23
A-Star 		 686898.38
Corsa 		 320773.49
Qualis 		 605061.95
Winger 		 535145.44
Gurkha 		 1000000.0

In [17]:
#id=18992
pred5 = model1.predict([[model_min_dict['C-Class'],model_max_dict['C-Class'],9,60000,11.74,1796,186.0,0,0,0,1,0,1,0]])
print(pred5)
pred5x = model2.predict([[model_min_dict['C-Class'],model_max_dict['C-Class'],9,60000,11.74,1796,186.0,0,0,0,1,0,1,0]])
print(pred5x)

[1188690.]
[1786243.39038266]

In [18]:
#id = 19543 (last)
pred6 = model1.predict([[model_min_dict['City'],model_max_dict['City'],2,13000,18.0,1497,117.0,0,0,0,1,0,0,0]])
pred6x =  model2.predict([[model_min_dict['City'],model_max_dict['City'],2,13000,18.0,1497,117.0,0,0,0,1,0,0,0]])
print(pred6)
print(pred6x)

[1095170.]
[1124305.57106687]

In [19]:
#id=8
pred7 = model1.predict([[model_min_dict['Venue'],model_max_dict['Venue'],2,20000,18.5,998,118.35,0,0,0,1,0,1,0]])
print(pred7)
pred7x = model2.predict([[model_min_dict['Venue'],model_max_dict['Venue'],2,20000,18.5,998,118.35,0,0,0,1,0,1,0]])
print(pred7x)

[916335.]
[1000548.79633633]

In [20]:
model_of_brand = {}